html{
  background: url(http://i.ytimg.com/vi/roTHJH3_URA/maxresdefault.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "avenir";
  color: black;
}

.quiz{
  font-family: "avenir";
  color: black;
  font-size: 4vw;
  font-weight: bold;
  padding-left: 1%;
}

.topicStyle{
  font-size: 1.3vw;
  color: #bf0d3e;
  background: white;
  font-weight: bold;
  padding: .5% 1% .5% 1%;
}

.questionStyle{
  font-size: 1.2vw;
  color: white;
  background: #041e42;
  display: block;
  vertical-align: bottom;
  font-style: italic;
  padding: 1%;
}

span{
  background:rgba(218,165,32,.7);
  border: 5px solid #041e42;
  color: black;
  font-weight: bold;
  font-size: 1.1vw;
  position: absolute;
  text-align: justify;
  display:none;
  padding:1vw 1vw;
  width: 30vw;
  border-radius: 20px;
}

.right{
  left:-110px;
}

.info{
  float:left;
  position:relative;
  cursor:pointer;
  display:table-cell;
  width:25%;
  text-align: center;
}

.info-line{
  display:table;
  width:100%;
  font-weight:bold;
  color: white;;
}

.info:hover span{
  display:block;
}

.candidate{
  float: left;
  height: auto;
  width: 20%;
  padding: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.money{
  display: block;
  text-align: center;
}

#money-next{
  width:50vw;
}

#money-blank{
  width:50vw;
}
