html{
  background: url(http://i.imgur.com/VPuO4aL.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "avenir";
}

.quiz{
  font-family: "avenir";
  color: black;
  font-size: 4rem;
  font-weight: bold;
  padding-left: 1%;
}

.topicStyle{
  font-size: 1.2rem;
  color: #bf0d3e;
  background: white;
  font-weight: bold;
  padding: .5% 1% .5% 1%;
}

.questionStyle{
  font-size: 1rem;
  color: white;
  background: #041e42;
  display: block;
  vertical-align: bottom;
  font-style: italic;
  padding: 1%;
}

span{
  background:rgba(218,165,32,.7);
  border: 5px solid #041e42;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  text-align: justify;
  display:none;
  padding:2%;
  width: 100%;
  border-radius: 1rem;
}

.right{
  left:-1rem;
}

.info{
  float:left;
  position:relative;
  cursor:pointer;
  display:table-cell;
  width:25%;
  text-align: center;
  font-size:1rem;
}

.info-line{
  display:table;
  width:100%;
  font-weight:bold;
  color: white;;
}

.info:hover span{
  display:block;
}

.candidate{
  float: left;
  height: auto;
  width: 20%;
  padding: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.money{
  display: block;
  text-align: center;
}

#money-next{
  width:50vw;
}

#money-blank{
  width:50vw;
}

.name{
  color:rgba(250,255,255,.5);
  text-align: center;
  padding: 50px 10px;
  font-size: 1rem;
}

@media screen and (max-width: 1000px){

  .quiz{
    font-size: 2.5rem;
  }

  .topicStyle{
    font-size: .9rem;
  }

  .questionStyle{
    font-size: .8rem;
  }

  span{
    font-size: .6rem;
  }

  .info{
    font-size:.7rem;
  }

  .name{
    font-size: .6rem;
  }

}
