.quiz{
  font-family: "avenir";
  color: black;
  font-size: 4vw;
  font-weight: bold;
  padding-left: 1%;

}

.topicStyle{
  font-size: 1.3vw;
  color: #bf0d3e;
  background: white;
  font-weight: bold;
  padding: .5% 1% .5% 1%;
}

.questionStyle{
  font-size: 1.2vw;
  color: white;
  background: #041e42;
  display: block;
  vertical-align: bottom;
  font-style: italic;
  padding: 1%;
}

html{
  background: url(http://i.ytimg.com/vi/roTHJH3_URA/maxresdefault.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "avenir";
  color: black;
}

    span{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

    }
    span:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    }
    .info{
    float:left;
    position:relative;
    cursor:pointer;
    display:table-cell;
    width:25%;
    text-align: center;
    }
    .info-line{
      display:table;
      white-space: nowrap;
      width:100%;
    }
    .info:hover span{
    display:block;
    }


              /*span{
                  background: rgba(250,250,255,.6);
                  border: 5px solid #DFDFDF;
                  color: black;
                  font-size: 1.1vw;
                  height: 30px;
                  line-height: 30px;
                  position: relative;
                  text-align: center;
                  display:none;
                  padding:0 20px;
                  width: 100px;
              }

              .info:hover span{
                  display:block;

              }

              .info {
                  color: white;
                  float:left;
              }*/

    /*.info {
        top: 15px;
        left: 15px;
        font-size: 28px;
        color: #ffffff;
        cursor: pointer;
    }
    .info span {
        display: none;
        color: #000000;
    }
    .info:hover span {
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
    }*/

.candidate{
  float: left;
  height: auto;
  width: 20%;
  padding: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#money{
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;

}

#quotes{
  background-position: bottom;
  display: inline-block;
}
